
# VS Code

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environments
.env
.venv

# Generated documents
generated_docs/
*.docx
*.pdf
!doc_templates/*.docx

.kuro
.vscode

# Logs
*.log